/.idea/
/out/
/patients.xlsx
/src/META-INF/
/config.properties
/patients.iml
/patients.jar
/~$patients.xlsx
/lib/
/test_logs/
/src/config.properties
/.~lock.file.xlsx#
/.~lock.patients.xlsx#
/file.xlsx
/log(old).txt
/log.txt
/log333.txt
/src/ru/rtlabs/PatientAdd.java
